@keyframes fadeout {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromBottom {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

body {
    position: relative;
    height: 300dvh;
    width: 100dvw;
    overflow-x: hidden;
    animation: fadeIn 4s ease-in;
}

.hero {
    width: 100dvw;
    position: relative;
    color: white;

    & .wallpaper {
        position: absolute;
        width: 100dvw;
        height: 100dvh;
        z-index: -5;
        animation: fadeIn 2s ease-in;

        & .background, & .character, & h1 {
            height: 95dvh;
            position: absolute;
            width: 100%;
        }

        & img {
            object-fit: cover;
        }

        & .background {
            z-index: -4;
            animation: slideInFromLeft 2s ease-in;
        }
        
        & h1 {
            top: 19rem;
            text-align: center;
            left: 6%;
            font-size: 4rem;
            letter-spacing: 9rem;
            color: rgb(255, 0, 0);
            font-weight: 1200;
            animation: slideInFromBottom 2s ease-in;
        }

        & .lower-layer {
            z-index: -3;
        }

        & .top-layer {
            color: transparent;
            align-self: center;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            z-index: -1;
        }

        & .character {
            z-index: -2;
            animation: slideInFromRight 2s ease-in;
        }
    }

    & .date {
        position: absolute;
        top: 4rem;
        left: 5rem;
        font-weight: 500;
        font-size: x-small;
        animation: slideInFromLeft 2s ease-in;

        & .day {
            letter-spacing: .5rem;
        }

        & .month {
            letter-spacing: .5rem;
        }

        &::before {
            content: '';
            height: 2rem;
            width: .8rem;
            background-color: #ff000085;
            position: absolute;
            z-index: -1;
            transform: translateY(-.4rem) translateX(-.5rem);
        }
    }

    & .content {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 4rem;
        justify-content: space-between;

        & .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6rem;

            & .description {
                width: fit-content;
                font-size: .8rem;
                animation: fadeIn 2s ease-in;
            }

            & .letters {
                font-weight: 600;
                letter-spacing: .7rem;
                font-size: small;
                animation: fadeIn 2s ease-in;
            }
        }

        & .card1, & .card2 {
            top: 10%;
            width: 23dvw;
            text-align:justify;
            background-color: rgba(0, 0, 0, 0.156);
            padding: .7rem 1rem;
            border-radius: 5px;
            align-self: self-start;
            position: relative;
            font-size: smaller;
            animation: slideInFromLeft 2s ease-in;
        }

        & .card1 {
            transform: translateY(-8rem);
        }

        & .card2 {
            & .title {
                border-bottom: 4px  solid white;
                width: 20rem;
                margin-bottom: 1rem;
                font-size: x-small;
            }
        }

        & .name {
            background-color: rgba(0, 0, 0, 0.39);
            padding: .2rem 2rem;
            border-radius: 50px;
            animation: fadeIn 2s ease-in;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .hero {
        & .wallpaper {
            & h1 {
                font-size: 10rem;
                letter-spacing: 3rem;
            }
        }

        & .content {
            & .card1 {
                width: 25dvw;
                & .title {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                    border-bottom: none;
                }
                & .description {
                    font-size: .10rem;
                }
            }

            & .card1 {
                transform: translateY(-3rem);
            }
        }
    }
}
